html{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

.main-screen{
    background-image: url('./images/main_bg.png');
    background-size: cover;background-position: top left;
    padding-top: 58px;
    padding-bottom: 50px;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.logo{
    margin-right: auto;
    margin-left: 30px;
}

header .logo_header{
    margin-left: 7px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
}

header nav ul li{
    margin-right: 30px;
    cursor: pointer;
}

header nav ul li:hover{
    border-bottom: 1px solid yellow;
    color: yellow;
}

nav+.wrap{
    display: flex;
    align-items: center;
    margin-right: 30px;
    margin-left: auto;
}

.lang{
    display: flex;
    align-items: center;
}

.lang .lang_flag{
    width: 32px;
    height: 32px;
}

.lang .lang_flag img{
    width: 100%;
}

.lang .lang_text{
    margin-left: 11px;
}

.lang .lang_text select{
    background: transparent;
    border: none;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    outline: none;
}

.lang .lang_text select option{
    background: #e6574a;
}

.lang .lang_choose{
    margin-left: 23px;
    color: #fff;
    cursor: pointer;
}

button.login{
    display: block;
    width: 100px;
    height: 40px;
    margin-left: 20px;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    background: transparent;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}

button.login:hover{
    background-color: #fff;
    color: #ED4C5C;
    transition: linear .5s;
}

.menu-bar{
    display: none;
    color: #fff;
    font-size: 30px;
}

main{
    text-align: center;
}

.main-header{
    margin-top: 140px;
    font-style: normal;
    font-weight: bold;
    font-size: 5vw;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main-header_sub{
    width: 540px;
    margin: 0 auto;
    margin-top: 39px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #FFFFFF;
}

.main-header_btn{
    margin-top: 39px;
    margin-bottom: 187px;
    width: 160px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #fff;
    border-radius: 6px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #ED4C5C;
    opacity: .5;
    cursor: pointer;
}

.main-header_btn:hover{
    background-color: #ED4C5C;
    color: #fff;
    transition: linear .5s;
}

@media screen and (max-width: 992px){
    .container{
        max-width: 960px;
    }

    header nav{
        order: 3;
        margin: 40px 20px;
    }

    .main-header_sub{
        font-size: 18px;
    }
}

@media screen and (max-width: 585px){
    .container{
        max-width: 540px;
    }

    .menu-bar{
        display: block;
        order: 2;
        margin-right: auto;
        margin-left: 10px;
        margin-top: 10px;
    }

    header nav{
        width: 100%;
        margin: 15px;
        padding: 10px
    }

    header nav ul{
        display: none;
        background: #3d673a7d;
    }

    header nav ul li{
        min-width: 100%;
        margin-right: 0;
        padding: 10px;
        border-bottom: 1px solid #fff
    }

    header nav ul li:last-child{
        border-bottom: none
    }

    header nav ul li:hover{
        background-color: lightcoral;
    }

    .main-header{
        margin-top: 15vh;
        font-size: 7vmin;
    }

    .main-header_sub{
        width: auto;
        margin: 20px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 450px){
    .container{
        max-width: 420px;
    }

    .menu-bar{
        margin-top: 0;
    }


    .logo, nav+.wrap{
        margin: 10px auto;
        padding: 10px
    }
}