html{
    font-family: 'Lato', sans-serif;
}

.container{
    max-width: 1060px;
    margin: 0 auto;
    padding: 20px;
}

.save{
    background: #ED4C5C;
    padding-bottom: 95px;
}

.save .wrap{
    display: flex;
    justify-content: center;
    align-items: flex-end
}

.save .save_description{
    max-width: 445px;
    margin-right: 81px;
}

.save .save_header{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
}

.save .save_text{
    margin-top: 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    color: #FFFFFF;
}

.save .save_links{
    margin-top: 44px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.save .save_links a{
    margin-right: 25px;
}

.save .save_images{
    margin-top: 94px;
    max-width: 535px;
    position: relative;
}

.save .save_images .save-img img{
    max-width: 100%;
}

.save .save_images .bottom_left{
    max-width: 383px;
    max-height: 267px;
    position: absolute;
    top: 22px;
    left: -44px;
    z-index: 0;
    filter: brightness(90%) sepia(80) saturate(40) hue-rotate(1deg);
}

.save .save_images .bottom_right{
    max-width: 383px;
    max-height: 267px;
    position: absolute;
    top: 22px;
    right: -44px;
    z-index: 0;
    filter: brightness(90%) sepia(80) saturate(40) hue-rotate(1deg);
}

.save .save_images .top{
    max-width: 445px;
    max-height: 311px;
    position: relative;
    z-index: 999;
}

.save_img .bottom_left, .save_img .bottom_right{
    max-width: 383px;
    max-height: 267px;
}

.contact .contact_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 117px;
    padding-bottom: 78px;
}

.contact .contact_header{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    color: #000000;
}

.contact .contact_description{
    margin-top: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    color: #000000;
}

.contact .contact_info{
    max-width: 445px;
    margin-right: 125px;
}

.contact .contact_form{
    max-width: 540px;
}

.contact .contact_form form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.contact .contact_form input, .contact .contact_form select{
    max-width: 45%;
    border: 1px solid #333333;
    border-radius: 6px;
    padding: 20px 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(19, 39, 67, 0.5);
}

.contact .contact_form input:first-child{
    margin-right: 30px;
}

.contact .contact_form input[type="tel"]{
    min-width: 100%;
    margin-top: 24px;
}

.contact .contact_form select{
    min-width: 100%;
    margin-top: 24px;
}

.contact .contact_form input[type="submit"]{
    margin-top: 24px;
    padding: 17px 34px;
    background: #ED4C5C;
    border: 1.5px solid #ED4C5C;
    border-radius: 6px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}

footer{
    background: #FAFAFA;
    padding: 85px 0;
}

footer .footer_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

footer .footer_item{
    max-width: 240px;
    margin-right: 70px;
}

footer .footer_item:last-child{
    margin-right: 0;
}

footer .footer_item h3{
    margin-bottom: 33px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #101010;
}

footer .footer_item ul li, footer .footer_item p{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #101010;
    text-transform: capitalize;
    cursor: pointer;
}

footer .social_links img{
    margin-top: 25px;
    margin-right: 15px;
}

footer .social_links a{
    cursor: pointer;
}

footer .footer_item-4 img{
    max-width: 100%;
}

footer .footer_copywrite{
    margin-top: 86px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #101010;
}

@media screen and (max-width: 1220px){
    .container{
        max-width: 1000px;
    }
}

@media screen and (max-width: 1150px){
    .save .wrap{
        flex-wrap: wrap;
    }

    .save .save_description{
        max-width: 445px;
        margin-right: 0;
    }

    .save .save_description, .save .save_images{
        max-width: 90%;
    }
}

@media screen and (max-width: 880px){
    .save{
        padding-bottom: 10px;
    }
    
    .contact .contact_wrapper{
        text-align: center;
        flex-wrap: wrap;
        margin-top: 10px;
        padding-bottom: 10px;
    }

    .contact .contact_info{
        margin-right: 0;
    }

    .contact .contact_form{
        margin-top: 20px;
    }

    footer{
        padding: 10px 0;
    }

    footer .footer_item{
        flex-basis: 48%;
        max-width: auto;
    }

    footer .footer_item h3{
        margin-top: 20px;
    }

    footer .footer_wrapper{
        justify-content: center;
    }

    footer .footer_item:nth-child(2n){
        margin-right: 0;
    }

    footer .footer_copywrite{
        text-align: center;
    }
}

@media screen and (max-width: 600px){
    .save .save_description{
       text-align: center;
       margin: 0 auto;
    }

    .save .save_images{
        margin: 0 auto;
        margin-top: 20px;
        text-align: center;
        max-width: 300px;
        position: relative;
    }

    .save .save_images .bottom_left, .save .save_images .bottom_right{
        width: 240px;
        height: 159px;
    }

    .save .save_images .top{
        max-width: 300px;
    }
    
    footer .footer_item{
        flex-basis: 100%;
        margin-right: 0;
        text-align: center;
    }
}

@media screen and (max-width: 425px){
    .save .save_images{
        display: none;
    }

    .contact .contact_form input, .contact .contact_form select{
        max-width: 100%;
        margin-right: 0;
    }

    .contact .contact_form input:first-child{
        width: 100%;
        margin-right: 0;
        margin-bottom: 24px;
    }

    .contact .contact_form input[type="text"]{
        width: 100%;
    }

    .contact .contact_form input[type="submit"]{
        width: 100%;
    }
}