html{
    font-size: 12px;
}

.wrapper{
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px;
}

.block__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 280px;
    margin: 10px auto;
}

.block__wrapper__item{
    width: 50px;
    height: 50px;
    background: #aaa;
    margin: 10px;
}
.block__wrapper__item:nth-last-child(-n + 4){
    background: cyan;
}

.block__wrapper__item:nth-child(4n - 1){
    background: crimson;
}

.wrapper__btn{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.wrapper__btn button{
    background: #44D3A8;
    border: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    margin-left: 44px;
    margin-right: 44px;
    padding: 32px 12%;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2rem;
    line-height: 28px;
    color: #FFFFFF;
    outline: none;
    cursor: pointer;
}

.wrapper__btn::before,
.wrapper__btn::after{
    content: "";
    flex-basis: 200px;
    padding: 4px 0;
    display: inline-block;
    background-color: transparent;
    border-top: 2px solid #c4c4c4;
    border-bottom: 2px solid #c4c4c4;
}

.wrapper__btn button:hover{
    background: #44d3a89c;
}

.wrapper__btn button:active{
    background: #246954;
}

@media screen and (max-width:650px){
    .wrapper__btn button{
        font-size: 1.5rem;
        padding: 5% 12%;
        line-height: 1.5rem;
        text-transform: capitalize;
    }
}