html{
    font-family: Helvetica;
}

body{
    background: #fafafa;
}

header{
    border-bottom: 1px solid #DBDBDB;
}

.nav-search{
    border: 1px solid #DBDBDB;
    background-color: transparent;
    border-radius: 3px;
    font-size: 14px;
    margin-left: 5px;
    line-height: 17px;
    text-align: center;
    color: #8F8F8F;
    background: url('../images/search.png');
    background-repeat: no-repeat;
    background-position: 25% 55%;
}

.nav-search:focus{
    background: none;
}

.bgNone{
    background: none;
}

@media (max-width:430px){
    .navbar{
        justify-content: center;
    }
}

.direct{
    position: relative;
}

.direct span{
    position: absolute;
    top: 1px;
    left: 21px;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #DC565B;
    color: #fff;
    border-radius: 50%;
    font-size: 12px;
}

.user_logo{
    width: 155px;
    height: 155px;
    background: url('../images/bg.jpg');
    border-radius: 50%;
}

.main_mt{
    margin-top: 30px;
}

.pl0{
    padding-left: 0!important;
}

.mb25{
    margin-bottom: 25px;
}

.user-about{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 35px;
}

.user-name{
    margin-right: 25px;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    color: #262626;
    text-transform: capitalize;
}

.btn-follow{
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}

.btn{
    margin-right: 5px;
}

.custom-color{
    font-size: 17px;
    line-height: 21px;
    color: #262626;
}

.custom-color span{
    font-weight: 500;
}

.user_stat{
    margin-top: 20px;
}

h3.user-name{
    margin-top: 20px;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: #262626;
    text-align: left;
}

.user-descr>p{
    margin-bottom: 0;
}

.user-descr>a{
    color: #133768;;
}

@media (max-width:768px){
    .user_logo{
        margin-left: auto;
        margin-right: auto;
    }

    .user-about{
        justify-content: center;
    }

    h3.user-name{
        text-align: center;
        margin-right: 0;
    }
}

.stories{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
}

.story-item img{
    max-width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 3px;
    border: 1px solid #DBDBDB;
}

.story-item img:hover{
    box-shadow: 0 0 10px cyan;
}

.story-item h3{
    margin-right: 0;
    text-align: center;
}

.story-item h3 a{
    color: #262626;
}

.story-item{
    margin-right: 40px;
}

.stories .story-item:first-child{
    margin-left: 15px;
}

.tabs{
    margin-top: 55px;
}

.tabs a{
    color: #8f8f8f;
}

.photo{
    max-width: 300px;
    min-height: 300px;
    background: url('../images/bg.jpg');
    margin-left: auto;
    margin-right: auto;
}

.photo-2{
    background: url('../images/bg2.jpg');
}

.nav-tabs .nav-link img{
    margin-right: 10px;
}

.valign{
    display: flex;
    align-items: center;
}