body{
    font-family: 'Merriweather', serif;
}

.container{
    max-width: 1200px;
    margin: 2vmax auto;
}

.container h1{
    text-align: center;
}

.container section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.works{
    width: calc(100% / 12 * 6 - 20px);
    margin-bottom: 10px;
}

.works-item{
    color: #006957;
}

.works-item:hover{
    background-color: #006957;
    border-color: #006957;
}

.works-item:hover a{
    color: #fff;
}

a:hover{
    text-decoration: none;
}

.chart{
    width: calc(100% / 12 * 5 - 20px);
    text-align: center;
}

.chart .donut{
    display: block!important;
    margin: 0 auto;
    font-size: 2rem;
}

@media screen and (max-width: 920px){
    
    .chart{
        width: calc(100% - 20px)
    }

    .works{
        width: calc(100% - 20px);
    }
}