html{
    font-family: 'Lato', sans-serif;
}

.wrapper{
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 20px;
}

.about__logo{
    display: flex;
    align-items: center;
    margin-top: 64px;
}

.logo__image{
    max-width: 25px;
}

.logo__text{
    margin-left: 4px;
    font-size: 24px;
    color: #5282F0;
}

.about__text__header{
    max-width: 60%;
    margin-top: 130px;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.03em;
    color: #333333;   
}

.about__text_description{
    max-width: 45%;
    margin-top: 30px;  
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #4F4F4F;
}

.about__text__btn{
    margin-top: 68px;
    margin-bottom: 165px;
    display: flex;
    align-items: center;
}

.apple__btn{
    margin-right: 35px;
}

.apple__btn, .google_btn{
    max-width: 155px;
    max-height: 50px;
    padding: 7px 10px;
    display: flex;
    align-items: center;
    background: #000000;
    border: none;
    outline: none;
    border-radius: 7.33503px;
    color: #fff;
    cursor: pointer;
}

.logo_store{
    margin-right: 12px;
}

.text_store{
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
}

.apple__btn .store{
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
}

.google_btn .google{
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
}

.google_btn .play{
    font-weight: 300;
    font-size: 17.6041px;
    color: #FFFFFF;

}

.blue{
    fill: #00D6FF!important;
}

.green{
    fill: #00F076!important
}

.yellow{
    fill: #FFCE00!important;
}

.red{
    fill: #F93647!important;
}

.about__screens{
    position: absolute;
    max-width: 800px;
    top: 0;
    right: 0;
}

.about__screens img{
    max-width: 100%;
}

.about__screens__item-1{
    transform: translate(-47%, 0);
}

.about__screens__item-2{
    max-width: 312px;
    transform: translate(27.9%, -96%);
}

.about__screens__item-3{
    transform: translate(-104%, -79%);
}

.about__screens__item-4{
    transform: translate(-36%, -171%);
}

.about__screens__item-5{
    max-width: 259px;
    transform: translate(54%, -272%);
}

.enhance{
    background: linear-gradient(270deg, #FFFFFF 5.16%, rgba(255, 255, 255, 0) 67.14%), rgba(255, 255, 255, 0.5) url('../images/cr7_bg.png');
    background-size: 50%;
    background-repeat: no-repeat;
    padding-top: 110px;
}

.enhance>.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.enhance__video{
    margin-right: 20px;
    flex-basis: 430px;
}

.enhance__text{
    margin-left: 20px;
    flex-basis: 430px;
}

.match-notification{
    background: #FFFFFF;
    box-shadow: -22.0416px 23.8785px 48.9814px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    padding: 20px;
    transform: translateX(-37%);
    position: relative;
    z-index: 2;
}

.match{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.match__pre{
    flex-basis: 115px;
}

.match__pre .date{
    font-weight: bold;
    font-size: 16.7833px;
    line-height: 22px;
    color: #4F4F4F;

}

.match__pre .teams{
    margin-top: 12px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.match__pre .match-type{
    margin-top: 13px;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}

.match__teams>img:first-child{
    max-width: 70px;
}

.match__teams>img:last-child{
    max-width: 80px;
    transform: translateX(-25%);
}

.notification{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #EEEEEE;
    border-radius: 0px 0px 4px 4px;
    margin-top: 17px;
    padding: 10px;
}

.notification .turn{
    font-size: 18.8812px;
    line-height: 25px;
    color: #4F4F4F;
}

.match-video{
    min-width: 360px;
    min-height: 218px;
    background: url('../images/video_bg.png');
    transform: translate(-13%, -25%);
    position: relative;
    z-index: 1;
}

.enhance__text .pre-header{
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #00ADEE;
}

.enhance__text__header{
    margin-top: 27px;
    font-weight: bold;
    font-size: 28px;
    color: #333333;
}

.enhance__text_descr{
    margin-top: 27px;
    font-size: 16px;
    line-height: 23px;
    color: #4F4F4F;
}

.enhance__text__link{
    display: inline-block;
    margin-top: 22px;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #00ADEE;
}

.enhance__text__link:hover{
    color: #4F4F4F;
    transition: 1s;
}

.start{
    padding-top: 215px;
    padding-bottom: 170px;
    position: relative;
    overflow: hidden;
}

.start__pre-header{
    max-width: 480px;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #00ADEE;
}

.start__header{
    max-width: 480px;
    margin-top: 27px;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #333333;
}

.start__text{
    max-width: 480px;
    margin-top: 27px;
    font-size: 16px;
    line-height: 23px;
    color: #4F4F4F;
}

.mb54{
    margin-bottom: 54px;
}

.start__link{
    font-size: 16px;
    line-height: 21px;
    color: #00ADEE;
}

.start__smart{
    max-width: 255px;
    position: absolute;
    top: 18%;
    right: 20%;
}

.start__smart>img{
    max-height: 515px;
}

.circle-1{
    width: 400px;
    height: 400px;
    border: 1px dashed #00ADEE;
    border-radius: 50%;
    position: absolute;
    top: 24%;
    right: 13%;
    z-index: -1;
}

.circle-2{
    width: 600px;
    height: 600px;
    border: 1px dashed #00ADEE;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    right: 6.2%;
    z-index: -1;
}

.circle-3{
    width: 800px;
    height: 800px;
    border: 1px solid #00ADEE;
    opacity: 0.5;
    border-radius: 50%;
    position: absolute;
    top: -5%;
    right: -0.8%;
    z-index: -1;
}

.circle-4{
    width: 1000px;
    height: 1000px;
    border: 1px solid #00ADEE;
    opacity: 0.35;
    border-radius: 50%;
    position: absolute;
    top: -19%;
    right: -7.8%;
    z-index: -1;
}

.circle-5{
    width: 1200px;
    height: 1200px;
    border: 1px solid #00ADEE;
    opacity: 0.2;
    border-radius: 50%;
    position: absolute;
    top: -34%;
    right: -14.8%;
    z-index: -1;
}

.circle-6{
    width: 1400px;
    height: 1400px;
    border: 1px solid #00ADEE;
    opacity: 0.15;
    border-radius: 50%;
    position: absolute;
    top: -47%;
    right: -21.8%;
    z-index: -1;
}

.circle-7{
    width: 1600px;
    height: 1600px;
    border: 1px solid #00ADEE;
    opacity: 0.1;
    border-radius: 50%;
    position: absolute;
    top: -62%;
    right: -28.8%;
    z-index: -1;
}

.circle-8{
    width: 1800px;
    height: 1800px;
    border: 1px solid #00ADEE;
    opacity: 0.1;
    border-radius: 50%;
    position: absolute;
    top: -76%;
    right: -34.8%;
    z-index: -1;
}

.circle-9{
    width: 2000px;
    height: 2000px;
    border: 1px solid #00ADEE;
    opacity: 0.05;
    border-radius: 50%;
    position: absolute;
    top: -91%;
    right: -41.8%;
    z-index: -1;
}

.circle_bell{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #fff;
    transform: translate(24px, 145px);
    box-shadow: 0 0 5px #000;
}

.circle_exit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #fff;
    transform: translate(216px, -200px);
    box-shadow: 0 0 5px #000;
}

.circle_exit-2{
    display: none;
}

.features{
    background: #00ADEE;
    padding-top: 75px;
}

.features__header{
    font-weight: bold;
    font-size: 28px;
    color: #FFFFFF;
    text-align: center;
    line-height: 37px;
}

.features__items{
    margin-top: 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.features__item{
    flex-basis: 30%;
    margin: 0 5px;
    margin-bottom: 90px;
    min-height: 160px;
}

.features__item__text{
    margin-top: 10px;
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
}

.slider__header{
    margin-top: 60px;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #333333;
    text-align: center;
}

.owl-carousel{
    margin-top: 60px;
    position: relative;
}

.owl-carousel__item{
    min-height: 160px;
    max-width: 310px;
    margin-bottom: 20px;
    padding: 10px;
    background: #FFFFFF;
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 4px;
}

.user_profile{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.user__name{
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

.user{
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.user__img{
    margin-right: 5px;
}

.user_profile .link{
    margin-left: 10px;
}

.carousel .link{
    margin-right: 10px;
}

.comment{
    margin-top: 15px;
    font-size: 14px;
    line-height: 18px;
    color: #4F4F4F;
}

.owl-nav button.owl-prev span,
.owl-nav button.owl-next span{
    position: absolute;
    top: 26%;
    min-width: 45px;
    min-height: 45px;
    border:1px solid #00ADEE;
    color: #00ADEE;
    border-radius: 50%;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.owl-nav button.owl-prev span{
    left: 8%;   
}

.owl-nav button.owl-next span{
    right: 10%;
}

.featured{
    background: #FAFAFA;
    padding-top: 50px;
    padding-bottom: 70px;
}

.featured__header{
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #333333;
    text-align: center;
}

.featured__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.featured__item{
    flex-basis: calc(100% / 12 * 2 - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}

.featured__item img{
    max-width: 100%;
}

.getup>.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bg{
    min-width: 666px;
    min-height: 483px;
    background: url('../images/2_smart.png');
    background-size: cover;
    transform: translate(-39%, 0);
}

.getup_descr{
    min-width: 45%;
    transform: translateX(-23%);
}

.getup__header{
    margin-top: 105px;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #333333;   
}

.getup__text{
    margin-top: 35px;
    font-size: 16px;
    line-height: 25px;
    color: #4F4F4F;
}

.getup .about__text__btn{
    margin-top: 38px;
    margin-bottom: 0;
}

footer{
    background: #00ADEE;
    padding-top: 50px;
    padding-bottom: 50px;
}

footer .wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer__logo{
    display: flex;
    align-items: center;
    margin-right: 5px;
}

footer .logo__text{
    color: #fff;
}

footer nav ul{
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer nav ul li{
    margin-right: 35px;
    color: #fff;
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

footer .social>.social__icon{
    width: 25px;
    height: 25px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 10px;
}

.switch input {
    display: none;
}
.switch label {
    display: inline-block; 
    position: relative;
    width: 60px; 
    height: 30px; 
    border-radius: 25px;
    background: #9E9E9E;
    transition: 0.5s; 
}
.switch label::before {
    content: '';
    position: absolute;
    background: #fff;
    width: 20px; 
    height: 20px;
    border-radius: 50%;
    left: 35px; 
    top: 5px;
    transition: 0.5s;
}

.switch input:checked + label {
    background: #1976D2;
}
.switch input:checked + label::before {
    left: 5px;
}

/* ========== media ========== */

@media (max-width:1390px){
    .about__text__header{
        max-width: 50%;   
    }
    
    .about__text_description{
        max-width: 35%;
    }
}

@media (max-width:1340px){
    .enhance{
        background-size: 70%;
    }
    
    .match-video{
        transform: translate(10%, -25%);
    }

    .match-notification{
        transform: translateX(-10%);
    }
}


@media (max-width:1240px){
    .about__screens{
        display: none;
    }

    .about__logo{
        justify-content: center;
    }

    .about__text__header{
        max-width: 90%;
        margin-top: 30px;
        margin-right: auto;
        margin-left: auto;  
        font-size: 33px;
        text-align: center; 
    }
    
    .about__text_description{
        max-width: 85%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }

    .about__text__btn{
        justify-content: center;
        margin-bottom: 30px;
    }

    .circle-1{
        right: 11%;
    }

    .circle-2{
        right: 3%;
    }

    .circle-3{
        right: -5%;
    }

    .circle-4{
        right: -13%;
    }

    .circle-5{
        right: -21%;
    }

    .circle-6{
        right: -29%;
    }

    .circle-7{
        right: -37%;
    }

    .circle-8{
        right: -45%;
    }

    .circle-9{
        right: -53%;
    }

    .owl-carousel__item{
        min-height: 180px;
    }

}

@media (max-width:1150px){
    
    .match-video{
        transform: translate(17%, -22%);
    }

    .match-notification{
        transform: translateX(0);
    }

    .getup{
        overflow: hidden;
    }

    .getup_descr{
        min-width: 50%;
        transform: translateX(-49%);
    }
}

@media (max-width:1000px){
    .enhance{
        background: none;
        padding-top: 20px;
    }

    .enhance>.wrapper{
        padding: 0;
    }

    .enhance__video{
        order: 2;
        margin: 20px auto;
        padding-top: 10px;
        flex-basis: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background: linear-gradient(270deg, #FFFFFF 5.16%, rgba(255, 255, 255, 0) 67.14%), rgba(255, 255, 255, 0.5) url('../images/cr7_bg.png');
        background-size: cover;
    }

    .enhance__text{
        flex-basis: 90%;
    }

    .enhance__text .pre-header{
        text-align: center;
    }

    .enhance__text__header{
        font-size: 28px;
        line-height: 37px;
        text-align: center;
    }

    .enhance__text_descr{
        font-size: 16px;
        line-height: 23px;
        text-align: center;
    }
    
    .match-video{
        flex-basis: 51%;
        min-width: 350px;
        transform: translate(8%, -25%);
    }

    .match-notification{
        flex-basis: 51%;
        min-width: 350px;
        transform: none;
    }

    .circle-1{
        right: 9%;
    }

    .circle-2{
        right: 0;
    }

    .circle-3{
        right: -9%;
    }

    .circle-4{
        right: -18%;
    }

    .circle-5{
        right: -27%;
    }

    .circle-6{
        right: -37%;
    }

    .featured__item{
        flex-basis: calc(100% / 12 * 4 - 10px);
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (max-width:950px){
    .getup>.wrapper{
        flex-wrap: wrap;
        justify-content: center;
    }

    .getup .bg{
        order: 2;
        min-width: 100vw;
        margin-top: 20px;
        transform: none;
        min-height: 640px;
    }

    .getup_descr{
        transform: none;
    }
}

@media (max-width:925px){

    .start{
        padding-top: 30px;
        padding-bottom: 500px; 
    }

    .start>.wrapper{
        background: #fff;
    }

    .start__pre-header, 
    .start__header, 
    .start__text, 
    .start__link{
        max-width: 100%;
        text-align: center;
    }

    .start__smart{
        max-width: 202px;
        top: 34%;
        right: 41%;;
    }
    
    .start__smart>img{
        max-height: 410px;
    }

    .circle-1 {
        right: 27%;
        top: 42%;
        opacity: 0.8;
    }

    .circle-2 {
        right: 16%;
        top: 32%;
        opacity: 0.6;
    }

    .circle-3 {
        right: 5%;
        top: 22%;
        opacity: 0.4;
    }

    .circle-4,
    .circle-5,
    .circle-6,
    .circle-7,
    .circle-8,
    .circle-9 {
        display: none;
    }

    .circle_bell{
        width: 70px;
        height: 70px;
        transform: translate(19px, 145px);
    }

    .circle_exit{
        width: 70px;
        height: 70px;
        transform: translate(178px, -146px);
    }

    .circle_exit-1{
        display: none;
    }

    .circle_exit-2{
        display: block;
    }

    .features__item{
        flex-basis: 46%;
        text-align: center;
    }
}

@media (max-width:890px){
    .start__smart{
        top: 36%;
    }

    .circle-1 {
        top: 44%;
    }

    .circle-2 {
        top: 30%;
    }

    .circle-3 {
        right: 3%;
        top: 18%;
    }
}

@media (max-width:780px){
    .circle-1 {
        right: 25%;
    }

    .circle-2 {
        right: 12%;
        top: 32%;
    }

    .circle-3 {
        right: -1%;
    }

    .featured__item{
        flex-basis: calc(100% / 12 * 6 - 10px);
    }

    .getup .bg{
        min-height: 300px;
    }
}


@media (max-width:760px){
    .about__text__btn{
        justify-content: space-evenly;
    }

    .owl-carousel__item{
        min-height: 300px;
    }

    .user_profile{
        justify-content: center;
    }

    .user_profile .link{
        margin-top: 10px;
    }
}

@media (max-width:690px){
    .circle-1 {
        right: 23%;
    }

    .circle-2 {
        right: 7%;
        top: 32%;
    }

    .circle-3 {
        display: none;
    }

    footer .wrap{
        justify-content: flex-start;
    }

    footer nav{
        margin-top: 15px;
        order: 2;
    }
}

@media (max-width:640px){
    .start__smart{
        right: 39%
    }

    .circle-1 {
        width: 315px;
        height: 315px;
        right: 26%;
        top: 50%;
    }

    .circle-2 {
        width: 470px;
        height: 470px;
        right: 13%;
        top: 41%;
    }
}

@media (max-width:550px){
    .start__smart{
        right: calc(59% - 118px)
    }

    .circle-1 {
        width: 315px;
        height: 315px;
        right: calc(50% - 157px);
    }

    .circle-2 {
        width: 470px;
        height: 470px;
        right: calc(50% - 235px);
    }
}


@media (max-width:500px){
    .match-video{
        flex-basis: 51%;
        min-width: 250px;
        min-height: 150px;
        transform: translate(8%, -25%);
    }

    .match-notification{
        flex-basis: 51%;
        min-width: 250px;
        transform: none;
    }

    .match__pre{
        flex-basis: 115px;
    }
    
    .match__pre .date{
        font-weight: bold;
        font-size: 11.5188px;
        line-height: 15px;
    
    }
    
    .match__pre .teams{
        font-size: 12.3539px;
        line-height: 16px;
    }
    
    .match__pre .match-type{
        font-size: 11px;
        line-height: 14px;
    }

    .match__teams{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    .match__teams>img:first-child{
        max-width: 53px;
    }
    
    .match__teams>img:last-child{
        max-width: 57px;
    }

    .notification .turn{
        font-size: 12.9587px;
        line-height: 17px;
    }

    .features{
        background: #fff;
        padding-top: 15px;
    }

    .features__header{
        color: #000;
    }

    .features__item{
        flex-basis: 90%;
        font-size: 16px;
        line-height: 23px;
        min-height: auto;
    }

    .features__item__img>svg>path{
        fill: #00ADEE
    }

    .features__item__text{
        color: #000;
    }

    .featured__item{
        flex-basis: calc(100% - 10px);
    }

    .footer__logo, footer .social{
        flex-basis: 100%;
    }

    footer .social{
        margin-top: 20px;
        justify-content: flex-start;
    }

    footer nav ul{
        flex-wrap: wrap;
        margin: 0;
        margin-top: 35px;
    }

    footer nav ul li{
        margin-top: 10px;
    }

    footer nav ul li:last-child{
        margin-right: 0;
    }
}

@media (max-width:390px){
    .about__text__btn{
        flex-wrap: wrap;
        justify-content: center;
    }

    .apple__btn, .google_btn{
        margin: 10px 20px;
    }
}

@media (max-width:370px){
    .start__smart{
        right: calc(63% - 118px)
    }

    .circle-1 {
        width: 315px;
        height: 315px;
        right: calc(50% - 157px);
    }

    .circle-2 {
        width: 470px;
        height: 470px;
        right: calc(50% - 235px);
    }
}

@media (max-width:360px){
    .about__text__header{
        font-size: 30px; 
    }
}

@media (max-width:340px){
    .start__smart{
        top: 43%;
    }

    .circle-1 {
        top: 53%;
    }

    .circle-2 {
        top: 45%;
    }

}